name: Checks

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ${{ inputs.os }}
    steps:
      - if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
      - run: |
          cargo test --locked --all-targets --all-features
          docker run --rm --name rammingen_autotest -e POSTGRES_HOST_AUTH_METHOD=trust -p 6123:5432 -d postgres:alpine
          sleep 1
          cargo run --locked --release --bin rammingen_tests -- --database-url postgres://postgres@127.0.0.1:6123/ --seed 16962821275976580781 snapshot
          docker kill rammingen_autotest
          docker run --rm --name rammingen_autotest -e POSTGRES_HOST_AUTH_METHOD=trust -p 6123:5432 -d postgres:alpine
          sleep 1
          cargo run --locked --release --bin rammingen_tests -- --database-url postgres://postgres@127.0.0.1:6123/ --seed 4226198923619095502 shuffle

  format:
    name: Check formatting
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
      - run: cargo fmt --check

  lint:
    name: Lint
    runs-on: ${{ inputs.os }}
    steps:
      - if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
      - run: cargo clippy --locked --all-targets --all-features -- --deny warnings
